<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.cluo29.camtest24">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="io.github.cluo29.camtest24.WRITE_CONTEXT_DATA" />
    <uses-permission android:name="io.github.cluo29.camtest24.READ_CONTEXT_DATA" />

    <permission
        android:name="io.github.cluo29.camtest24.READ_CONTEXT_DATA"
        android:description="@string/app_name"
        android:label="Read Replay Settings"
        android:protectionLevel="normal"></permission>
    <permission
        android:name="io.github.cluo29.camtest24.WRITE_CONTEXT_DATA"
        android:description="@string/app_name"
        android:label="Record Output in Mobile Client"
        android:protectionLevel="normal"></permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".providers.Replay_Provider"
            android:authorities="${applicationId}.provider.replay"
            android:exported="true"
            android:readPermission="io.github.cluo29.camtest24.READ_CONTEXT_DATA"
            android:writePermission="io.github.cluo29.camtest24.WRITE_CONTEXT_DATA" />
        <provider
            android:name=".providers.Result_Provider"
            android:authorities="${applicationId}.provider.result"
            android:exported="true"
            android:readPermission="io.github.cluo29.camtest24.READ_CONTEXT_DATA"
            android:writePermission="io.github.cluo29.camtest24.WRITE_CONTEXT_DATA" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FileActivity" />
        <activity android:name=".ReplayActivity" />
        <activity android:name=".CreateVideoActivity" />
        <activity android:name=".CreateReplayActivity" />
        <activity android:name=".ManageReplayActivity"></activity>
    </application>

</manifest>